h1{
    text-align: center;
    font-size: 2.4em;
    font-weight: bolder;
}
form{
    display: flex;
    flex-direction:  column;
    .User_information,.Address_information{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
    }
    .info_set{
        display: flex;
        flex-direction: row;
        justify-content:  space-between;
        width: 100%;
        mat-form-field{
            width: 100%;
        }
        #plz,#hausnummer{
            margin-left: 10px;
            width: 40%;
        }
      
    }
    button{
        width: 30%;
        align-self: center ;
        margin-bottom: 10px;
    }
}
