<p>
  <mat-toolbar color="primary">
    <span>Webshop</span>
    <div>
      <button mat-icon-button aria-label="Suche" matTooltip="Suche starten">
        <span class="material-icons">search</span>
      </button>

      <button mat-icon-button aria-label="Warenkorb" matTooltip="Warenkorb">
        <span
          class="material-icons"
          matBadge="8"
          matBadgePosition="below after"
          matBadgeColor="accent"
        >
          shopping_bag
        </span>
      </button>
    </div>
  </mat-toolbar>
</p>
