<mat-toolbar color="primary">
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span> Webshop </span>
  </a>
  <div id="toolbar-elements">
    <mat-form-field
      *ngIf="showDiv"
      color="primary"
      id="searchbar"
      subscriptSizing="dynamic"
    >
      <mat-label>Suche</mat-label>
      <input
        type="text"
        [(ngModel)]="enteredSearchValue"
        (input)="onSearchTextChanged()"
        matInput
      />
    </mat-form-field>
    <button
      id="searchbutton"
      (click)="showDiv = !showDiv"
      mat-icon-button
      aria-label="Suche"
      matTooltip="Suche starten"
    >
      <span class="material-icons">search</span>
    </button>

    <button
      mat-icon-button
      aria-label="Warenkorb"
      matTooltip="Warenkorb"
      (click)="cartClicked()"
    >
      <span
        class="material-icons"
        matBadge="{{ cartSize }}"
        matBadgePosition="below after"
        matBadgeColor="accent"
      >
        shopping_bag
      </span>
    </button>
    <button
      *ngIf="this.firebaseAuthService.getFirebaseUser() == null"
      mat-flat-button
      aria-label="login"
      matTooltip="Anmelden"
      [routerLink]="'log_in'"
      class="userButton"
    >Anmelden
    </button>
    <button
      *ngIf="this.firebaseAuthService.getFirebaseUser() == null"
      mat-flat-button
      aria-label="signup"
      matTooltip="Registrieren"
      [routerLink]="'sign_up'"
      class="userButton"
    >Registrieren
    </button>
    <button
      *ngIf="this.firebaseAuthService.getFirebaseUser() != null"
      mat-flat-button
      aria-label="logout"
      matTooltip="Abmelden"
      (click)="logOut()"
      class="userButton">
      Abmelden
    </button>

  </div>

</mat-toolbar>
