mat-toolbar {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

#toolbar-elements {
  display: flex;
  flex-direction: row;
}

.userButton {
  justify-self: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  :hover{
    color:antiquewhite;
  }
}
