<p>
  <mat-toolbar color="primary">
    <span>Webshop</span>
    <div id="toolbar-elements">
      <mat-form-field
        *ngIf="showDiv"
        color="primary"
        id="searchbar"
        subscriptSizing="dynamic"
      >
        <mat-label>Suche</mat-label>
        <input
          type="text"
          [(ngModel)]="enteredSearchValue"
          (input)="onSearchTextChanged()"
          matInput
        />
      </mat-form-field>
      <button
        id="searchbutton"
        (click)="showDiv = !showDiv"
        mat-icon-button
        aria-label="Suche"
        matTooltip="Suche starten"
      >
        <span class="material-icons">search</span>
      </button>

      <button mat-icon-button aria-label="Warenkorb" matTooltip="Warenkorb" (click)="cartClicked()">
        <span
          class="material-icons"
          matBadge="8"
          matBadgePosition="below after"
          matBadgeColor="accent"
        >
          shopping_bag
        </span>
      </button>
    </div>
  </mat-toolbar>
</p>
