h1 {
    text-align: center;
}

.adminImage {
    width: 100px;
    height: 100px;
}

.adminProduktContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px dodgerblue solid;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
}

.adminProduktzahl {
    grid-column: 1 / -1;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}