<mat-card class="product-card">
  <img mat-card-image src="http://localhost:3000/images/{{ image }}" />
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ price | currency : "EUR" : true }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>{{ description }}</mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="button-addcart" color="primary" (click)="sendMessage()">
      In den Warenkorb
    </button>
  </mat-card-actions>
</mat-card>
