<form class="log_in"  (submit)="logIn()">
  <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput  placeholder="musterman@exemple.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage("email",email)}}</mat-error>


  </mat-form-field>

  <mat-form-field>
    <mat-label>passwort</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessage("password",password)}}</mat-error>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    </button>
  </mat-form-field>

  <button mat-flat-button
    color="primary"
    type="submit">log in</button>

</form>
