<mat-sidenav-container>
  <mat-sidenav #sidenav opened="{{ getCartValue }}" position="end" mode="side">
    <h1>Ihr Warenkorb</h1>

    <hr />

    <mat-nav-list>
      <div *ngFor="let cartContent of cartContents | async">
        <p mat-list-item>
          {{ cartContent.produktID.produktname }} - {{ cartContent.anzahl }} |
          {{
            cartContent.produktID.preis * cartContent.anzahl
              | currency : "EUR" : true
          }}
        </p>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-mainscreen [searchValue]="searchValue"></app-mainscreen>
  </mat-sidenav-content>
</mat-sidenav-container>
