<mat-sidenav-container>
  <mat-sidenav #sidenav opened="{{ getCartValue }}" position="end" mode="side">
    <h1>Ihr Warenkorb</h1>

    <hr />

    <mat-nav-list>
      <div *ngFor="let items of items ">
        <div mat-list-item class="productsInCart">
          <p>{{ items.anzahl }}x&nbsp;</p>
          <p>{{ items.product.produktname }}</p>
          <p>{{
            items.product.preis * items.anzahl
              | currency : "EUR" : true
          }}</p>
        </div>
      </div>
    </mat-nav-list>
    <button class="bestellButton" mat-flat-button color="primary" (click)="orderCart()">
      Bestellen
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-mainscreen *ngIf=" currentPath== '/' " [searchValue]="searchValue" (itemsProductEvent)="receivedItems($event)"></app-mainscreen>
    <router-outlet *ngIf=" currentPath != '/' "></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
