mat-sidenav {
    background-color: rgb(63, 81, 181, 0.1);
    width: 40vw;
    padding: 20px;
}

.productsInCart {
    width: 100%;
    display: flex;
    flex-direction:  row;
    justify-content: space-around;
    p{
        align-self: center;
    }
    button{
        border-radius:40%;
    }
}

mat-sidenav-content {
    min-height: 90vh;   // Restliche 10vh hat der Header
}

.bestellButton {
    width: 100%;
}